body {
    font-family: 'Nunito';
}
.btn-cadastro {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cadastro:hover {
    background-color: #0056b3;
    padding: 10
}
.btn-flutuante {
    position: fixed;
    top: 150px ;
    right: 20px;
    text-align: center;
    z-index: 100;
}
.aviso-texto {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 12px;
}
.aviso {
}
.aviso.oculto {
    opacity: 0;
    display: none;
}
.aviso.caracteresmaximos.oculto {
    opacity: 0;
    display: none;
}
.aviso.caracteresmaximos.visivel {
    opacity: 1;
    display: block;
    color: red;
}
.aviso.visivel {
    opacity: 1;
    display: block;
    color: red;
}
.aviso.visivel.invalido {
    opacity: 1;
    display: block;
    color: red;
}
.aviso.visivel.valido {
    opacity: 1;
    display: block;
    color: green;
}
#cpf.valido {
    box-shadow: 0 0 5px 2px #4caf50a0; /* verde suave */
    border-color: #4caf50;
    transition: box-shadow 0.3s, border-color 0.3s;
}
#cpf.invalido {
    box-shadow: 0 0 5px 2px #f44336a0; /* vermelho suave */
    border-color: #f44336;
    transition: box-shadow 0.3s, border-color 0.3s;
}